<html>
<body>
    <h1><b>WELCOME TO WATER QUALITY ANALYSER</b>  </h1>
    <form action = "http://127.0.0.1:5000/login" method= "POST">
    <p><b>Water parameters:</b></p>
    <p>Temperature</p>
    <p><input type="number" name = "Temp"  /></p>
    
    <p>Dissolved Oxygen</p>
    <p><input type="number" name = "DO" /></p>
    
    <p>PH</p>
    <p><input type="number" name = "PH" /></p>

    <p>Conductivity</p>
    <p><input type="number" name = "Conductivity"  /></p>

    <p>BOD</p>
    <p><input type="number" name = "BOD" /></p>

    <p>Nitrate</p>
    <p><input type="number" name = "NI" /></p>

    <p>Fecal Coliform</p>
    <p><input type="number" name = "Fec_col" /></p>

    <p>Total Coliform</p>
    <p><input type="number" name = "Tot_col" /></p>

    <p><input type="submit" value = "SUBMIT" /></p>
    </form>
    <h1><b>{{y}}</b></h1>
</body>
</html>

